@charset "utf-8";
body{
 
 
   width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 0.5em;
}

a img {
    border: none;
    padding: 1em;
}

a:link,
a:visited {
    color: #0B486B;
}

#wrapper {
    
    float: left;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
}

header {
    background-color: #fff;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
    overflow: hidden;
}

header h1 {
    padding-top: 0.3em;
    font-size: 3.5em;
    color: #333;
    text-align: center;
}

header img {
    float: left;
    margin-right: 0.7em;
}

nav {
    clear: left;    
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: #FFF;    
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 0.2em;
    font-size: 1em;
}

nav ul a:link,
nav ul a:visited {
    padding: 0.3em 0.3em 0.3em 1em;
    display: block;
    color: #666;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #666;
    color: #FFF;
}

article {    
    float: left;
    background-color: #FFFFFF;
    
}

article h1 {
    padding: 0.5em;
    font-size: 2em;
}

article h2 {
    font-size: 1.4em;
    margin-bottom: 0;
    color: #06b0c9;
}

article img {
    
    padding:2%;
    
}


aside {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
   
}

aside h1 {
    font-size: 1.4em;
}

section {
    margin-bottom: 3.5em;
}


footer {
    padding: 0.6em;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}


.promise-container {
  
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #26c6de;
    margin: 40px;

}

.has-inline-elements {
    font-size: 1em;
}

.promise {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 1em;
    float: right;
}

.fancybox-title {
    font: 1em/1.6 lato;
    text-align: center;
}

.rotate-img img {
    transform: rotate(-11deg);
    
    padding: 10%;
}
@media(max-width:1200px){
    body {
    font: 16px/1.6 Lato;
    }
    header h1 {
    padding-top: 0.6em;
    font-size: 2.9em;
    color: #333;
    }
    nav ul li {
    font-size: 0.91em;
    }
}

@media(max-width: 991px){
    body {
    font: 16px/1.6 Lato;
    }
    header h1 {
    padding-top: 0em;
    font-size: 2.9em;
    color: #333;
    }
    nav ul li {
    font-size: 0.8em;
    }
    article img {
    max-width: 300px;
}
    aside img{
        max-width:300px;
    }
}

@media(max-width: 767px){
    body {
    font: 16px/1.6 Lato;
    }
    header h1 {
    padding-top; 0;
    font-size: 2.5em;
    color: #333;
    }
    header img {
    width:50%;
    margin-left: 25%;
    }
    nav ul li {
    font-size: 1em;
    }  
   
}
@media(max-width: 576px){
    body {
    font: 13px/1.3 Lato;
    }
    header h1 {
    padding-top: 0;
    font-size: 1.5em;
    color: #333;
    }
    header img {
    width:80%;
    margin-left:10%;
    }
    nav ul li {
    font-size: 1em;
    }
}